.DS_Store
*.py
*.jpg
*.png
*.gif
*.zip
*.sql
*.dump
*.bat
*.dump
*.sh
*.AdminBSBMaterialDesign
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
composer.lock
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*W
.gitignore
# IDE Files
#-------------------------
/nbproject/
.idea/*
/user_guide
/.vscode