<!-- #Top Bar -->
<section id="sidebars"></section>

<!-- Jquery Core Js -->
<script src="../../assets/cms/plugins/jquery/jquery.min.js"></script>

<!-- <script src="assets/cms/js/pages/parts/part.js"></script> -->

<!-- Bootstrap Core Js -->
<script src="../../assets/cms/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="../../assets/cms/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="../../assets/cms/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="../../assets/cms/plugins/node-waves/waves.js"></script>

<!-- Jquery CountTo Plugin Js -->
<!-- <script src="plugins/jquery-countto/jquery.countTo.js"></script> -->

<!-- Morris Plugin Js -->
<script src="../../assets/cms/plugins/raphael/raphael.min.js"></script>
<script src="../../assets/cms/plugins/morrisjs/morris.js"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="../../assets/cms/plugins/jquery-sparkline/jquery.sparkline.js"></script>

<!-- Custom Js -->
<script src="../../assets/cms/js/admin.js"></script>
<!-- <script src="../../assets/cms/js/pages/index.js"></script> -->

<!-- Demo Js -->
<!-- <script src="../../assets/cms/js/demo.js"></script> -->
</body>

</html>